<style>
  #NavDrawer {
    width: 90% !important;
  }
  .drawer__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }
  #customShop, #customGift {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
  }
  .navElement {
    color: black;
    font-size: 14px !important;
  }
  .topCat_burger_gifts {
    padding: 10px 34px;
    border: transparent;
    transform: translateX(-300px);
    transition: all ease 1000ms;
    display: none;
  }
  .topCat_burger {
    padding: 10px 34px;
    border: transparent;
    transform: translateX(-300px);
    transition: all ease 1000ms;
    display: none;
  }
  .moveLeft {
    transform: translateX(10px);
  }
  .moveRight {
    transform: translateX(-300px);
  }

</style>

<div id="NavDrawer" class="drawer drawer--left">
  <div class="drawer__inner">
    <form action="/search" method="get" class="drawer__search mt-3" role="search">
      <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" autocomplete="off" class="drawer__search-input">
      <button type="submit" class="text-link drawer__search-submit">
        {%- include 'icon-search' -%}
        <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>
    
    <ul class="drawer__nav">
      <div>
        <li id="customShop" class="drawer__nav-item drawer-nav__item--secondary"><a class="drawer__nav-link drawer__nav-link--top-level font-weight-normal">Shop</a><span>+</span></li>
        <div style="border: transparent;" class="topCat_burger">
          <a href="/collections/new-arrivals" class="navElement"><p>NEW ARRIVALS</p></a>
          <a href="/collections/best-sellers" class="navElement"><p>BEST SELLERS</p></a>
          <hr>
          <a href="/collections/earrings" class="navElement"><p {% if collection.handle == 'earrings' %}style="font-weight: 700;"{% endif %}>EARRINGS</p></a>
          <a href="/collections/necklaces" class="navElement"><p {% if collection.handle == 'necklaces' %}style="font-weight: 700;"{% endif %}>NECKLACES & PENDANTS</p></a>
          <a href="/collections/rings" class="navElement"><p {% if collection.handle == 'rings' %}style="font-weight: 700;"{% endif %}>RINGS</p></a>
          <a href="/collections/bracelets" class="navElement"><p {% if collection.handle == 'bracelets' %}style="font-weight: 700;"{% endif %}>BRACELETS & ANKLETS</p></a>
          <hr>
          <a href="/collections/18k-yellow-gold" class="navElement"><p {% if collection.handle == '18k-yellow-gold' %}style="font-weight: 700;"{% endif %}>18K YELLOW GOLD</p></a>
          <a href="/collections/14k-yellow-gold" class="navElement"><p {% if collection.handle == '14k-yellow-gold' %}style="font-weight: 700;"{% endif %}>14K YELLOW GOLD</p></a>
          <a href="/collections/18k-white-gold" class="navElement"><p {% if collection.handle == '18k-white-gold' %}style="font-weight: 700;"{% endif %}>18K WHITE GOLD</p></a>
          <a href="/collections/14k-white-gold" class="navElement"><p {% if collection.handle == '14k-white-gold' %}style="font-weight: 700;"{% endif %}>14K WHITE GOLD</p></a>
          <hr>
          <a href="/collections/gold-vermeil" class="navElement"><p {% if collection.handle == 'gold-vermeil' %}style="font-weight: 700;"{% endif %}>GOLD VERMEIL</p></a>
          <a href="/collections/sterling-silver" class="navElement"><p {% if collection.handle == 'sterling-silver' %}style="font-weight: 700;"{% endif %}>STERLING SILVER</p></a>
          <a href="/collections/diamonds" class="navElement"><p {% if collection.handle == 'diamonds' %}style="font-weight: 700;"{% endif %}>DIAMONDS</p></a>
    
        </div>
        <li id="customGift" class="drawer__nav-item drawer-nav__item--secondary"><a class="drawer__nav-link drawer__nav-link--top-level font-weight-normal">Gifts</a><span>+</span></li>
        <div style="border: transparent;" class="topCat_burger_gifts">
          <a href="/collections/gifts-150-and-under" class="navElement"><p {% if collection.handle == 'gifts-150-and-under' %}style="font-weight: 400;"{% endif %}>Gifts $150 and Under</p></a>
          <a href="/collections/gifts-250-and-under" class="navElement"><p {% if collection.handle == 'gifts-250-and-under' %}style="font-weight: 400;"{% endif %}>Gifts $250 and Under</p></a>
          <a href="/collections/gifts-500-and-under" class="navElement"><p {% if collection.handle == 'gifts-500-and-under' %}style="font-weight: 400;"{% endif %}>Gifts $500 and Under</p></a>
          <a href="/collections/gifts-over-500" class="navElement"><p {% if collection.handle == 'gifts-over-500' %}style="font-weight: 700;"{% endif %}>Gifts over $500</p></a>
          <hr>
        </div>
      </div>
      {%- if shop.customer_accounts_optional or shop.customer_accounts_enabled -%}
      {%- if customer -%}
        <li class="drawer__nav-item drawer-nav__item--secondary">
          <a href="/account" class="drawer__nav-link drawer__nav-link--top-level font-weight-normal">
            {{ 'layout.customer.account' | t }}
          </a>
        </li>
        <li class="drawer__nav-item drawer-nav__item--secondary">
          <a href="/account/logout" class="drawer__nav-link drawer__nav-link--top-level font-weight-normal">
            {{ 'layout.customer.log_out' | t }}
          </a>
        </li>
        {%- else -%}
        <div>
          <li class="drawer__nav-item drawer-nav__item--secondary">
          <a href="/account" class="drawer__nav-link drawer__nav-link--top-level font-weight-normal">
            <span class="account-text">{{'customer.login.sign_in' | t}}</span>
          </a>
        </li>
          <li class="drawer__nav-item drawer-nav__item--secondary">
            <a href="/account/register" class="drawer__nav-link drawer__nav-link--top-level font-weight-normal">
              {{'customer.register.title' | t}}
            </a>
          </li>

        </div>
      
       {%- endif -%}
      {%- endif -%}
      {%- if settings.show_multiple_currencies -%}
      <li class="drawer__nav-item pl-3 drawer-nav__item--secondary">
        <div class="px-2 border d-inline-block mt-3">
          {%- include 'block-currencies' -%}
        </div>
      </li>
      {%- endif -%}
    </ul>
  </div>
</div>