{%- capture avada-seo-original -%}
<!doctype html>
<html data-template="{{template}}" class="no-js " lang="{{ shop.locale }}">
  <head>
    {% include "starapps-core" %}
<!-- {% render 'pagefly-head' %} -->

  
{%- if template.name == 'product' -%}
{%- if product.handle contains 'navidium' -%}
<script>window.location.replace('/');</script>
{%- endif -%}
{%- endif -%}


<!-- Added by AVADA SEO Suite -->
{% include 'avada-seo' %}
<!-- /Added by AVADA SEO Suite -->

    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_header_bg }}">
    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    <link rel="canonical" href="{{ canonical_url }}">
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {%- include 'social-meta-tags' -%}
    {%- include 'header-css' -%}
    {{ content_for_header }}
    {% include 'judgeme_core' %}
  <script defer src="https://shopoe.net/app.js"></script>

{% render 'gsf-conversion-pixels' %}


<script defer id="sg-js-global-vars">
                        sgGlobalVars = {{ shop.metafields['sg-cc']['sg-metafield'] | json }};
                        if(sgGlobalVars) {
                            sgGlobalVars.cart = {{ cart | json }};
                            sgGlobalVars.currentProduct = {{ product | json }};
                            sgGlobalVars.isAdmin = {% if content_for_header contains 'adminBarInjector' or content_for_header contains 'previewBarInjector' %}true{% else %}false{% endif %};
                        }
                    </script>

{% include 'fa_translate_core' %} 
 <script defer>var scaaffCheck = false;</script>


{% if request.path contains "affiliate" %} 
{{ 'sca_affiliate.js' | asset_url | script_tag }}
{{ 'sca_affiliate.aio.min.js' | asset_url | script_tag }}
{% endif %}
<script defer>    
// >> TriplePixel :: start
+function(x){function O(a,w){x=new XMLHttpRequest,x.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),x.send(null),x.onreadystatechange=function(){4===x.readyState&&200===x.status?setTimeout(function(){eval(x.responseText)},300):(299<x.status||x.status<200)&&a&&!w&&(w=!0,O(a-1))}}window[x]||(window[x]=1,O(5))}();
// << TriplePixel :: end
</script>

{% render 'sca-aff-refer-customer' %}
</head>
  <body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} body-theme {% if settings.productpage == 'product-2' or settings.productpage == 'product-6' or settings.productpage == 'product-7' %} product-hide-breadcrumb {% endif %}" >
{% capture SectionsPro %}{%section "sections-pro"%}{% endcapture %}{%include "sections_pro_functions" sectionsPro:SectionsPro %}
    {%- section 'advanced-content' -%}
    {% comment %}
    /* {%- section 'announcement-bar' -%} */
    {% endcomment %}
    {%- include 'loading' -%}
    {%- include 'header' -%}
    <div class="page-container page-element is-moved-by-drawer">
      {%- include 'breadcrumb' -%}
      <main class="main-content" id="MainContent" role="main">
        {%- if settings.enable_animationscroll -%}<div id ="js-scroll">{% endif%}
          {%- if settings.enable_animationscroll -%}<div data-scroll-section>{% endif%}
        {%- include 'slideshow' -%}
        {%- if settings.enable_animationscroll -%}</div>{% endif%}
        {%include "sections_pro_header"%}
{{ content_for_layout }}
        {%- if settings.enable_animationscroll -%}</div>{% endif%}
      </main>
      {% if request.page_type == 'product' %}
      {% section 'image-content-3' %}
      {% section 'you-may-also-like' %}
      {% endif %}
      {%- include 'footer' -%}
      {%- include 'popup-newsletter' -%}
     
    </div>
    {%- include 'cookie-policy' -%}
    {%- include 'back-to-top' -%}
    {%- include 'menu-mobile' -%}
    {%- include 'notify-popup' -%}
    {%- include 'bottom-contents' -%}
    {%- include 'quickview' -%}
    {%- include 'popup-compare' -%}
    {%- include 'header-js' -%}
    {%- if settings.show_multiple_currencies -%}
    {{ "/services/javascripts/currencies.js" | script_tag }}
    {%- endif -%}
   {% include 'smile-initializer' %}

 
{% comment%}
  /* <!-- PickyStory code, do not modify. Safe to remove after the app is uninstalled -->
  {% if content_for_header contains 'pickystory' %}
    {% render 'pickystory-combos-prerender' %}
  {% endif %}
  <!-- PickyStory code end -->
  <!-- PickyStory snippet "main_widget_script", do not modify. Safe to remove after the app is uninstalled -->
  {% if content_for_header contains 'pickystory' %}
    <script defer src="https://cdn.pickystory.com/widget/dist/latest/pickystory-widget.min.js"></script>
  {% endif %}
  */
 {% endcomment %}
  

<!--   Navidium app   -->
    {%- include 'navidium-widget-v3' -%}
{% if request.path contains "faq" %}    
  <script src='{{ 'ddshop-faq.aio.min.js' | asset_url }}' defer='defer'></script>
  <script src='{{ 'ddshop-custom.js' | asset_url }}' defer='defer'></script>  
  <script src='{{ 'ddshop-faq.js' | asset_url }}' defer='defer'></script>
  {{ 'ddshop-faq.css' | asset_url | stylesheet_tag }}
  {{ 'ddshop-faq.aio.min.css' | asset_url | stylesheet_tag }}
{% endif %}    
<script defer>
  window.addEventListener("klaviyoForms", function(e) { 
    if (e.detail.type == 'submit') {
	  fbq('track', 'Lead');
      ttq.track('CompleteRegistration');
    }
  });
</script>
    
    <script defer>
window.addEventListener("klaviyoForms", function(e) { 
  if (e.detail.type == 'open' || e.detail.type == 'embedOpen') {
    ga('send', 'event', 'Klaviyo form', 'form_open', e.detail.formId);
  }
  if (e.detail.type == 'submit') {
    ga('send', 'event', 'Klaviyo form', 'form_submit', e.detail.formId);
  }
  if (e.detail.type == 'stepSubmit') {
    ga('send', 'event', 'Klaviyo form', 'form_step_submit', e.detail.metaData.$step_name);
  }
  if (e.detail.type == 'redirectedToUrl') {
    ga('send', 'event', 'Klaviyo form', 'form_url_redirect', e.detail.formId);
  }
  if (e.detail.type == 'close') {
    ga('send', 'event', 'Klaviyo form', 'form_close', e.detail.formId);
  }
});
</script>
    
<script defer type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=R4uD2s"></script>
<!-- anti-flicker snippet (recommended)  -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script defer>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',3000,
    {'GTM-577XZMP':true});</script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-577XZMP');</script>
    <!-- End Google Tag Manager -->
    <script>
      window.onload = () => {
        console.log('loaded')
        window.isMenu_one_Open = false;
        let dropdown = document.querySelector('.topCat_burger');
        let toggle = document.querySelector('#customShop');
        let tog1 = document.querySelector('#customShop span');
        toggle.onclick = () => {
          if (window.isMenu_one_Open) {
            dropdown.style.display = 'none';
            tog1.textContent = "+";
            dropdown.classList.remove('moveLeft')  
            window.isMenu_one_Open = !window.isMenu_one_Open;
          } else {
            dropdown.style.display = 'block';
            tog1.textContent = "-";
            setTimeout(() => {
              dropdown.classList.add('moveLeft');
              window.isMenu_one_Open = !window.isMenu_one_Open;
            }, 100)
          }
        }

        window.isMenu_two_Open = false;
        let dropdown2 = document.querySelector('.topCat_burger_gifts');
        let toggle2 = document.querySelector('#customGift');
        let tog2 = document.querySelector('#customGift span');
        toggle2.onclick = () => {
          
          if (window.isMenu_two_Open) {
            dropdown2.style.display = 'none';
            tog2.textContent = "+";
            dropdown2.classList.remove('moveLeft')  
            window.isMenu_two_Open = !window.isMenu_two_Open;
          } else {
            dropdown2.style.display = 'block';
            tog2.textContent = "-";
            setTimeout(() => {
              dropdown2.classList.add('moveLeft');
              window.isMenu_two_Open = !window.isMenu_two_Open;
            }, 100)
          }
        }
      }
    
    </script>
    <style>
      .customHide {
          display: none !important;
        }
        .categories {
          justify-content: flex-start !important;
          margin-bottom: 50px;
          margin-top: 5px;
          flex-direction: column;
          
        }
        .product-card__price {
    font-weight: lighter;
  }
  .product-card__name {
      font-weight: 600;
  }
        #picker_btn_container {
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 22px;
          height: 22px;
          box-sizing: border-box;
          background-color: white;
          padding: 0;
        }
        #picker_btn {
          width: 50vw;
          height: 50vw;
          border: transparent;
          box-sizing: border-box;
          border-radius: 50%;
          width: 18px;
          padding: 0;
          height: 18px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -khtml-border-radius: 50%;
          vertical-align: middle;
          -webkit-border-radius: 50%;
        }
        .checked {
          box-shadow: 0 0 0 1px rgb(167, 167, 168);
        }
        div#picker_btn_container:hover {
          box-shadow: 0 0 0 1px rgb(167, 167, 168);
        }
        .product-card {
          display: flex !important;
          flex-direction: column !important;
          justify-content: space-between;
          gap: 7px;
        }
        .product-card__info {
          padding: 0 !important;
          margin: 0 !important;
          text-align: left;
          
        }
        .jdgm-widget.jdgm-widget {
          margin-top: -10px;
        }
        .jdgm-widget.jdgm-preview-badge.jdgm--done-setup {
          max-width: 174px;
          margin-top: -5px;
    
        }
        .navElement {
          font-size: 16px !important;
        }
        a.navElement {
          z-index: 10;
          cursor: pointer;
          display: block;
        }
        @media screen and (max-width: 767px) {
          .product-card__info .p_data {
            flex-wrap: wrap;
            flex-direction: column;
          }
          .product-card__price {
            margin-bottom: 7px;
          }
         
          .product-card__name {
            text-align: start; 
          }
         
          .jdgm-widget.jdgm-preview-badge.jdgm--done-setup {
            margin-top: 0;
          }
        }
      
        @media screen and (max-width: 1200px) and (min-width: 991px) {
          .product-card__info .p_data {
            flex-direction: column;
            margin-bottom: 7px;
          }
       
        }
        .product-card__info .p_data {
          flex-direction: column;
          margin-bottom: 7px;
        }
        .product-card__name {
          font-size: 15px;
        }
        @media screen and (max-width: 991px) and (min-width: 600px) {
          
          .categories {
            margin-top: 2px;
            flex-direction: row !important;
            gap: 10px;
          }
        }
    </style>
    
  <script>
      function pickerHandler(event) {
        console.log("hit")
        Array.from(event.target.parentElement.parentElement.children).forEach(el => {
          if (event.target.parentElement === el) {
            el.classList.add('checked');
            $(`a[data-image-id=${event.target.dataset.imageId}]`).siblings('a').each(function() {
              $(this).addClass('customHide')
            })
            $(`a[data-image-id=${event.target.dataset.imageId}]`).removeClass('customHide');
            event.target.parentElement.parentElement.parentElement.parentElement.children[0].children[0].href = event.target.dataset.href
            event.target.parentElement.parentElement.parentElement.previousElementSibling.children[0].children[0].href = event.target.dataset.href
            event.target.parentElement.parentElement.parentElement.previousElementSibling.children[0].children[0].textContent = `${event.target.dataset.title} - `
            event.target.parentElement.parentElement.parentElement.previousElementSibling.children[0].children[0].title = event.target.dataset.title
            event.target.parentElement.parentElement.parentElement.previousElementSibling.children[0].children[1].children[1].textContent = `$${event.target.dataset.price}`
            if (event.target.dataset.variantTitle.split('/')[0].split('|')[1]) {
              event.target.parentElement.parentElement.nextElementSibling.innerHTML = event.target.dataset.variantTitle.split('/')[0].split('|')[0] + "|" + event.target.dataset.variantTitle.split('/')[0].split('|')[1]
            } else {
              event.target.parentElement.parentElement.nextElementSibling.innerHTML = event.target.dataset.variantTitle.split('/')[0].split('|')[0]
            }
          } else {
            el.classList.remove('checked');
          }
        })
      }
      
    </script>
</body>

</html>
  
  <style>
.jdgm-rev-widg.jdgm-rev-widg {
  max-width: 1200px;
  margin: auto;
}
  
@media screen and (max-width: 767px) {
    .jdgm-widget.jdgm-all-reviews-widget, .jdgm-widget .jdgm-rev-widg {
    width: 90%;
}
}
    
    {% comment %}
  .product-single__meta  .jdgm-prev-badge__text
    {display : none !important;}
    {% endcomment %}
    
    .allrevie  {
    display: flex !important;
    color: black !important
}
    .allrevtx {
    margin-left: 5px !important;
}
  </style>
{%- endcapture avada-seo-original -%}
{%- capture avada-seo-minified -%}
{%- include 'avada-seo-minifier', content: avada-seo-original -%}
{%- endcapture -%}
{%- if avada-seo-minified contains 'Liquid error' -%}
{{ avada-seo-original }}
{%- else -%}
{{ avada-seo-minified }}
{%- endif -%}
{% comment %}
 <script defer>
    document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
    let jdgNum = document.querySelector('.jdgm-rev-widg').dataset.numberOfReviews;
if (jdgNum > 1 || jdgNum < 1) {
  document.querySelector('.jdgm-rev-widg__summary-text').innerText = `Customers rate us {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 based on {{ shop.metafields.judgeme.all_reviews_count }} reviews.
`;
} else if (jdgNum == 1 ) {
  document.querySelector('.jdgm-rev-widg__summary-text').innerText = `Customers rate us {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 based on {{ shop.metafields.judgeme.all_reviews_count }} reviews.
`;
} else {
  document.querySelector('.jdgm-rev-widg__summary-text').innerText = `Customers rate us {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 based on {{ shop.metafields.judgeme.all_reviews_count }} reviews.
`;
}
 }, 500)
    })
  </script>
   {% endcomment %}
   
   
   {% if template contains 'product' %}
<script>
window.addEventListener('jdgm.doneSetup', () => {
  setTimeout(() => {
let avgRat = document.querySelector('.jdgm-prev-badge').dataset.averageRating;
  if (avgRat != 5 && avgRat > 4.0) {
document.querySelector('.jdgm-prev-badge__stars .jdgm-star:last-of-type').classList.remove('jdgm--on');
document.querySelector('.jdgm-rev-widg__summary-stars .jdgm-star:last-of-type').classList.remove('jdgm--on');
document.querySelector('.jdgm-prev-badge__stars .jdgm-star:last-of-type').classList.add('jdgm--half');
document.querySelector('.jdgm-rev-widg__summary-stars .jdgm-star:last-of-type').classList.add('jdgm--half');
}
}, 400)
})
</script>
{% endif %}
   <style>
     .product-single__meta  .jdgm-prev-badge__text {
      display: inline-block !important;
     }
   </style>

