<!-- collection-template-6.liquid -->
<style>
  .customHide {
      display: none !important;
    }
    .categories {
      justify-content: flex-start !important;
      margin-bottom: 50px;
      margin-top: 5px;
      flex-direction: row;
      gap: 10px;
    }
    #picker_btn_container {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      box-sizing: border-box;
      background-color: white;
      padding: 0;
    }
    #picker_btn {
      width: 50vw;
      height: 50vw;
      border: transparent;
      box-sizing: border-box;
      border-radius: 50%;
      width: 18px;
      padding: 0;
      height: 18px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -khtml-border-radius: 50%;
      vertical-align: middle;
      -webkit-border-radius: 50%;
    }
    .checked {
      box-shadow: 0 0 0 1px rgb(167, 167, 168);
    }
    div#picker_btn_container:hover {
      box-shadow: 0 0 0 1px rgb(167, 167, 168);
    }

  .section-header__title--image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 200px;
	color: #fff;
	margin-bottom: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center
}

.section-header__subtext {
	margin: 10px auto 20px;
  max-width: 1170px;
  line-height: 1.7;
}

.collection-sidebar .active-filter a,
.collection-sidebar a:hover {
	color: var(--g-main)
}

#ul_catalog_color li {
	display: inline-block;
	padding: 2px;
	border: 2px solid rgba(0, 0, 0, .1);
	margin-bottom: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}
#ul_catalog_color li img{
    border-radius: 50%;
  }
#ul_catalog_color li a{
  display:block;
}

#ul_catalog_color li.active-filter {
	border-color: var(--g-main-2)
}
.catalog_filter_ul li {
  padding: 8px 0;
  text-transform: capitalize;
  position:relative;
}
.catalog_other .catalog_filter_ul  li i{
  position: absolute;
  top: 13px;
  z-index: 1;
}
.catalog_other .catalog_filter_ul li a{
  padding-left: 26px;
  position: relative;
  z-index: 10;
}

.advanced-filter .icon {
	cursor: pointer;
  width: 18px;
}

.active-filter i {
  color:var(--g-main-2);
	fill: var(--g-main-2);
}

.category-heading {
	margin-top: 15px;
	margin-bottom: 30px
}


.collection-nomatch-text {
	text-align: center
}

.category-heading .col-left {
	display: flex;
	align-items: center
}
.is_stuck {
  top: 94px !important;
}

@media (max-width:991px) {
	.category-heading .col-mid {
		display: none
	}
}

.section-header {
	margin-top: 0px
}

@media (max-width:991px) {
	.js-sidebar {
		transition: all ease .3s;
		background: #fff;
		overflow-y: scroll;
		padding: 20px 10px;
		bottom: 0;
		position: fixed;
		z-index: 999;
		left: 0;
		height: 100%;
		width: 0;
		opacity: 0;
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%)
	}
}

.js-sidebar.active {
	background: #fff;
	overflow-y: scroll;
	padding: 20px 25px;
	bottom: 0;
	position: fixed;
	z-index: 999;
	left: 0;
	height: 100%;
	width: 300px;
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	max-width: initial
}

.js-toggle-filter {
	cursor: pointer
}

.js-toggle-filter.active>span {
	font-size: 0;
	background: rgba(0, 0, 0, .6);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 998;
	cursor: pointer
}
.product-card__price {
  font-weight: lighter;
}
    .product-card {
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between;
      gap: 7px;
    }
    .product-card__info {
      padding: 0 !important;
      margin: 0 !important;
      text-align: left;
      min-height: 53px;
      flex: 1;
      
    }
    .jdgm-widget.jdgm-widget {
      margin-top: -10px;
    }
    .jdgm-widget.jdgm-preview-badge.jdgm--done-setup {
      max-width: 174px;
      margin-top: -5px;
    }
    .navElement {
      font-size: 16px !important;
    }
    a.navElement {
      z-index: 10;
      cursor: pointer;
      display: block;
    }
    @media screen and (max-width: 767px) {
      .product-card__info .p_data {
        flex-wrap: wrap;
        flex-direction: column;
      }
      
   
      .product-card__name {
        text-align: start;
        
      }
    
      .jdgm-widget.jdgm-preview-badge.jdgm--done-setup {
        margin-top: 0;
      }
    }
 
    @media screen and (max-width: 1200px) and (min-width: 991px) {
      .product-card__info .p_data {
        /* flex-direction: column; */
        margin-bottom: 7px;
      }
      .categories {
        flex-direction: row;
        
      }
    }
    @media screen and (min-width: 992px) {
      .product-card__info {
        min-height: 79px;
      }
    }
    .product-card__info .p_data {
        /* flex-direction: column; */
        
      }
    .product-card__name {
      font-size: 15px;
      font-weight: 600;
    }
    .product-card__price {
        margin-bottom: 7px;
      }
    @media screen and (max-width: 991px) and (min-width: 600px) {
      .product-card__info .p_data {
        flex-direction: row;
        margin-bottom: 5px;
      }

      .categories {
        margin-top: 7px;
        flex-direction: row !important;
        gap: 10px;
      }

    }
    @media screen and (max-width: 550px) {
      .categories {
        flex-direction: column;
        gap: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      .product-card__info .p_data {
        flex-direction: row;
      }
      .product-card__info {
        min-height: 30px;
      }
    }
</style>

{%- assign productPerpage = 22 -%}
{%- assign productPerrow = section.settings.collection_perrow -%}

{%- if productPerrow == '2' -%}
	{%- assign gridProduct = 'js-col col-sm-6 col-6' -%}
{%- elsif productPerrow == '3' -%}
	{%- assign gridProduct = 'js-col col-sm-6 col-6 col-lg-4' -%}
{%- elsif productPerrow == '4' -%}
	{%- assign gridProduct = 'js-col col-sm-6 col-6 col-lg-3' -%}
{%- elsif productPerrow == '5' -%}
	{%- assign gridProduct = 'js-col col-sm-6 col-6 col-lg-2-4' -%}
{%- elsif productPerrow == '6' -%}
	{%- assign gridProduct = 'js-col col-sm-6 col-6 col-lg-2' -%}
{%- endif -%}


<div class="{{section.settings.collection_width}}">
  <div class="row">
    {%- if section.settings.enable_sidebar -%}
    <div style="flex: 1 0 20%%; padding-top: 50px;" class="{{section.settings.sidebar_col}} col-12 js-sidebar">
      <div style="transition: all ease 500ms;" class="sidebar collection-sidebar js-stick-parent">
        <div style="padding: 0 10px; border: transparent;" class="topCat">
          <a href="/collections/new-arrivals" class="navElement"><p>NEW ARRIVALS</p></a>
          <a href="/collections/best-sellers" class="navElement"><p>BEST SELLERS</p></a>
          <hr>
          <a href="/collections/earrings" class="navElement"><p {% if collection.handle == 'earrings' %}style="font-weight: 700;"{% endif %}>EARRINGS</p></a>
          <a href="/collections/necklaces" class="navElement"><p {% if collection.handle == 'necklaces' %}style="font-weight: 700;"{% endif %}>NECKLACES & PENDANTS</p></a>
          <a href="/collections/rings" class="navElement"><p {% if collection.handle == 'rings' %}style="font-weight: 700;"{% endif %}>RINGS</p></a>
          <a href="/collections/bracelets" class="navElement"><p {% if collection.handle == 'bracelets' %}style="font-weight: 700;"{% endif %}>BRACELETS & ANKLETS</p></a>
          <hr>
          <a href="/collections/18k-yellow-gold" class="navElement"><p {% if collection.handle == '18k-yellow-gold' %}style="font-weight: 700;"{% endif %}>18K YELLOW GOLD</p></a>
          <a href="/collections/14k-yellow-gold" class="navElement"><p {% if collection.handle == '14k-yellow-gold' %}style="font-weight: 700;"{% endif %}>14K YELLOW GOLD</p></a>
          <a href="/collections/18k-white-gold" class="navElement"><p {% if collection.handle == '18k-white-gold' %}style="font-weight: 700;"{% endif %}>18K WHITE GOLD</p></a>
          <a href="/collections/14k-white-gold" class="navElement"><p {% if collection.handle == '14k-white-gold' %}style="font-weight: 700;"{% endif %}>14K WHITE GOLD</p></a>
          <a href="/collections/gold-vermeil" class="navElement"><p {% if collection.handle == 'gold-vermeil' %}style="font-weight: 700;"{% endif %}>GOLD VERMEIL</p></a>
          <a href="/collections/sterling-silver" class="navElement"><p {% if collection.handle == 'sterling-silver' %}style="font-weight: 700;"{% endif %}>STERLING SILVER</p></a>
          <a href="/collections/diamonds" class="navElement"><p {% if collection.handle == 'diamonds' %}style="font-weight: 700;"{% endif %}>DIAMONDS</p></a>


        </div>
      </div>
    </div>
    {%- endif -%}
    <div class="col " style="flex: 1 0 80%;">
      <div class="pl-lg-5 pl-md-0 pl-0">
        <header class="section-header">
          {%- if section.settings.enable_title -%}
          <h1 class="section-header__title js-collection-title h3 mt-3" style="margin-bottom: 20px;">
            {{ collection.title }}
          </h1>
          {%- endif -%}
        {%- if section.settings.enable_description and collection.description != blank -%}
          <div class="section-header__subtext mt-4">
          {{ collection.description }}
        </div>
        {%- endif -%}
      </header>
      <div class="category-heading">
        <div class="row">
      {%- if section.settings.enable_sidebar -%}
          <div class="col col-3 col-left d-lg-none">
            <span class="js-toggle-filter d-flex align-items-center px-3">
              {%- include 'icon-sliders' -%}
              <span class="ml-2">{{'collections.general.filter' | t}}</span>
            </span>
          </div>
      {%- endif -%}
          <div class="col-sm-6 col-mid">
              <div class="d-flex align-items-center h-100">
                <span class="js-btn-view btn-view-2 {% if productPerrow == '2' %}active{% endif %}" data-col="2"></span>
                <span class="js-btn-view btn-view-3 {% if productPerrow == '3' %}active{% endif %}" data-col="3"></span>
                <span class="js-btn-view btn-view-4 {% if productPerrow == '4' %}active{% endif %}" data-col="4"></span>
              </div>
            </div>
          <div class="col col-right">
            {%- include 'collection-sortby' -%}
          </div>
        </div>
      </div>
      <div style="padding-top: 30px;" id="js-product-ajax" ><!-- ONLY HAVE LIST OF PRODUCTS AND PAGINATION TO LOAD AJAX -->
        <div class="row">
          {%- for product in collection.products -%}
            {% if product.handle contains 'copy-of-' or product.tags contains 'hidden-glue' %}

            {% else %}
              <div class="{{ gridProduct }}">
                {%- include 'product-card', product: product, collection: collection -%}
              </div>
            {% endif %}
        {%- else -%}
            {%- include 'collection-blank' -%}
          {%- endfor -%}
        </div>
         <div class="text-center">
          {%- if paginate.next -%}
            <a href="{{ paginate.next.url }}" class="btn btn-underline">Loading More</a>
          {%- endif -%}
         </div>
      </div>
    </div>
  </div>
  {%- include 'coupon_code' -%}
</div>

<script>
  function pickerHandler(event) {
    console.log("hit")
    Array.from(event.target.parentElement.parentElement.children).forEach(el => {
      if (event.target.parentElement === el) {
        el.classList.add('checked');
        $(`a[data-image-id=${event.target.dataset.imageId}]`).siblings('a').each(function() {
          $(this).addClass('customHide')
        })
        $(`a[data-image-id=${event.target.dataset.imageId}]`).removeClass('customHide');
        event.target.parentElement.parentElement.parentElement.parentElement.children[0].children[0].href = event.target.dataset.href
        event.target.parentElement.parentElement.parentElement.previousElementSibling.children[0].children[0].href = event.target.dataset.href
        event.target.parentElement.parentElement.parentElement.previousElementSibling.children[0].children[0].textContent = `${event.target.dataset.title}`
        event.target.parentElement.parentElement.parentElement.previousElementSibling.children[0].children[0].title = event.target.dataset.title
        event.target.parentElement.parentElement.parentElement.previousElementSibling.children[0].children[1].children[1].textContent = `$${event.target.dataset.price}`
        if (event.target.dataset.variantTitle.split('/')[0].split('|')[1]) {
          event.target.parentElement.parentElement.nextElementSibling.innerHTML = event.target.dataset.variantTitle.split('/')[0].split('|')[0] + "|" + event.target.dataset.variantTitle.split('/')[0].split('|')[1]
        } else {
          event.target.parentElement.parentElement.nextElementSibling.innerHTML = event.target.dataset.variantTitle.split('/')[0].split('|')[0]
        }
      } else {
        el.classList.remove('checked');
      }
    })
  }
</script>

{% schema %}
  {
    "name": "Collection Infinity",
    "settings": [
      {
        "type": "select",
        "id": "collection_width",
        "label": "Set Width Collection",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Container"
          },
          {
            "value": "container-fluid",
            "label": "Container Fluid"
          }
        ]
      },
      {
        "type": "select",
        "id": "collection_perrow",
        "label": "Products per row",
		"default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
		    "default": true,
        "label": "Show Filter Sidebar"
      },
      {
        "type": "select",
        "id": "sidebar_col",
        "label": "Sidebar width",
		"default": "col-md-3",
        "options": [
          {
            "value": "col-md-2-4",
            "label": "20%"
          },
          {
            "value": "col-md-3",
            "label": "25%"
          }
        ]
      },
      {
        "type": "header",
        "content": "Collection meta"
      },
      {
        "type": "checkbox",
        "id": "enable_title",
		"default": true,
        "label": "Show Title"
      },
      {
        "type": "checkbox",
        "id": "enable_description",
		"default": true,
        "label": "Show description"
      }
]
  }
{% endschema %}